<!-- Menu Definition Page -->
<ons-page ng-controller="MenuController as menu">

    <ons-list>
        <ons-list-header>Menu</ons-list-header>
           <ons-list-item ng-click="app.menu.close()">
               <ons-icon icon="ion-settings"></ons-icon> Settings
           </ons-list-item>
           <ons-list-item ng-click="app.menu.close()">
               <ons-icon icon="ion-star"></ons-icon> Favorites
           </ons-list-item>
            <ons-list-item ng-click="app.menu.close()">
                <ons-icon icon="ion-information-circled"></ons-icon> Info
            </ons-list-item>
    </ons-list>

</ons-page>